@()(implicit loggedUser: Option[User], messages: Messages)

@import views.html.tags.auth._
@import controllers.routes

@servicesString(user: User) = @{ user.services match {
	case Nil => "none"
	case head :: Nil => head
	case init :+ last => init.mkString(", ") + " " + Messages("and") + " " + last
}}

@views.html.templates.default(title = "House of memes", loggedUser, tab = "index") {
<hr>
		
		<h1 class="text-center">@Messages("index.title")</h1>
		
		
    
		
		<div class="jumbotron">@Html(Messages("index.explanation"))</div>

		
		
		
	
		

	}
	